*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

.big-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30,30,30);
    margin-top: 48px;
    color: #1ff1ff;
}

img{
    width: 24vw;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(30,30,30);
    height: 100vh;
    
}

.container{
    margin-top: 12px;
}

.is_hanging{
    margin-top: 16px;
    color: violet;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border: 1px white solid ;
    border-radius: 16px;
    height: 12vh;
}
ul p{
    margin-left: 16px;
    font-size: small;
    align-self: flex-start;
}
ul div{
    font-size: xx-large;
    margin-right: 16px;
    align-self: flex-end;
    color: springgreen;
}

/* .container ul div:nth-child(1n){
    color:yellow
}
.container ul div:nth-child(2n){
    color:violet;
}
.container ul div:nth-child(3n){
    color:white;
}
.container ul div:nth-child(4n){
    color:springgreen;
} */

h1{
    color: #ffffff;
}
button{

    margin-top: 20px;
    padding: 8px 48px;
    position: relative;
    text-align: center;
    font-weight: bold;
    border: 1px solid #1ff1ff;
    border-radius: 4px;
    background-color: #1ff0ff09;
    color: #ffffff;

    cursor: pointer;
}

button:hover{
    transition:ease-in-out;
    padding: 7px 47px;
    position: relative;
    text-align: center;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: #1ff0ff99;
    color: #ffffff;

    cursor: pointer;
}

.cyberpunk{
    background-color: #1ff1ff;
    height: 1px;
    width: 100vw;
    margin-top: 24px;
}

.cyberpunk:nth-child(2n){
    background-color: violet;
}

.cyberpunk:nth-child(3n){
    background-color: springgreen;
}

.cyberpunk:nth-child(5n){
    background-color: white;
}

.cyberpunk:nth-child(6n){
    background-color: yellow;
}

@media only screen and (max-width: 425px){
    img{
        display: none;
    }
}